body{
  background-color: #8C7C6A;
}

a:link, a:visited{
  background-color: transparent;
  color: khaki;
  text-decoration: none;
}

a:hover, a:active{
  color: gold;
}

hr{
  border: 1px solid darkgoldenrod;   
}

.bg{
  display: inline-block;
  width: 70%;
  float: center;
  margin-left: 15%;
  border-radius: 5px;
}

.tag-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.bot-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titles{
  text-align: center;
  margin: 10px;
  margin-bottom: 300px;
}

.text-mid{
  text-align: center;
  margin: 10px;
}

.text-quote{
  font-size: small;
}

.header{}

.footer{
  font-size: small;
  font-style: italic;
  text-align: center;
  margin: 20px;
}

.map-title{
  text-align: center;
  padding-bottom: 10px;
  color: maroon;
}

.map-image{
  padding: 30px;	
}

.rss{
  float: right;
  border-radius: 5px;
}

ul.byzantine-maps li{
  display: inline-block;
  text-align: center;
}

#map-caption{
  text-align: center;
}

#map-section{
  display: block;
  width: all;
  background-color: tan;
}

#taghr{
  border: 1px solid darkgoldenrod;   
	width: 40%;
}
