body{
  background-color: #8C7C6A;
}

a:link, a:visited{
  color: khaki;
  background-color: transparent;
  text-decoration: none;
}

a:hover, a:active{
  color: gold;
}

hr{
  border: 1px solid darkgoldenrod;
}

.taghr{
  width: 40%;
  border: 1px solid darkgoldenrod;
}

.bg{
  max-width: 70%;
  vertical-align: middle;
  border-radius: 5px;
  display: inline-block;
}

.tag-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.bot-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titles{
  margin: 10px;
  margin-bottom: 300px;
  text-align: center;
}

.text-mid{
  margin: 10px;
  text-align: center;
}

.text-quote{
  font-size: small;
}

.extra{
  margin: 20px;
  font-size: small;
  font-style: italic;
  text-align: center;
}

.map-title{
  color: maroon;
  text-align: center;
  padding-bottom: 10px;
}

.map-image{
  padding: 30px;
}

.rss{
  float: right;
  border-radius: 5px;
}

ul.byzantine-maps li{
  text-align: center;
  display: inline-block;
}

#map-caption{
  text-align: center;
}

#map-section{
  display: block;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: tan;
}

#bottom-tags{
  display: block;
  max-width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  border: double darkgoldenrod;
}

#cat-section{
  padding: 10px;
  text-align: center;
}
