body {
  background-color: #8C7C6A;
}

.bot-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-mid{
  text-align: center;
}

.text-quote{
  font-size: small;
}

a:link, a:visited {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: #EBC79A;
}
